#BG_1706752577510_18428 {
  display: grid;
  -webkit-grid-area: auto / auto / auto / auto;
  grid-area: auto / auto / auto / auto;
  -webkit-grid-template-rows: 200px 1fr;
  grid-template-rows: 200px 1fr;
  -webkit-grid-template-columns: 1fr 850px 1fr;
  grid-template-columns: 1fr 850px 1fr;
}

#BG_1706752594929_54676 {
  -webkit-grid-area: 1 / 1 / span 4 / 1;
  grid-area: 1 / 1 / span 4 / 1;
  background-color: #e4e0db;
}

#BG_1706758393674_98604 {
  -webkit-grid-area: 5 / 1 / 5 / span 3;
  grid-area: 5 / 1 / 5 / span 3;
  height: 200px;
}

#BG_1706758468669_69529 {
  -webkit-grid-area: 1 / 2 / 1 / 2;
  grid-area: 1 / 2 / 1 / 2;
  width: 850px;
  height: 280px;
  background-image: url("GettyImages-466080277.jpg");
}

#BG_1706758532362_24770 {
  -webkit-grid-area: 3 / 2 / 3 / 2;
  grid-area: 3 / 2 / 3 / 2;
  width: 850px;
  height: 650px;
  justify-content: center;
  font-size: 10px;
}

#BG_1706758555550_69243 {
  -webkit-grid-area: 4 / 2 / 4 / 2;
  grid-area: 4 / 2 / 4 / 2;
}

#BG_1706758624649_86325 {
  -webkit-grid-area: 1 / 3 / span 4 / 3;
  grid-area: 1 / 3 / span 4 / 3;
  background-color: #e4e0db;
}

#BG_1706760586512_29209 {
  padding-left: 50px;
  font-family: "Bahnschrift";
  padding-top: 100px;
}

#BG_1706762929600_71645 {
  font-family: "Bahnschrift";
}

#BG_1706762349683_65246 {
  padding-left: 50px;
  font-family: "Bahnschrift";
}

.horizontal-line {
  width: 750px;
  height: 1px;
  background-color: navy;
  border: medium none;
}

#BG_1706763637822_12490 {
  padding-left: 50px;
  font-family: "Bahnschrift";
  font-size: 25px;
}

.grid-container2 {
  display: grid;
  -webkit-grid-template-columns: 882px 302px;
  grid-template-columns: 882px 302px;
  -webkit-grid-template-rows: 526px auto;
  grid-template-rows: 526px auto;
}

.item1 {
  -webkit-grid-area: 1 / 1 / 2 / 2;
  grid-area: 1 / 1 / 2 / 2;
  width: 750px;
  height: 526px;
  background-color: #f0f0f0;
  position: relative;
}

.item2 {
  position: absolute;
  top: 953px;
  right: 0px;
  width: 302px;
  height: 302px;
  background-color: #cccccc;
}

#BG_1706765118525_90622 {
  height: 447px;
  background-image: url("%ED%99%88%ED%8E%98%EC%9D%B4%EC%A7%80%20%EC%86%8C%EC%8A%A4-19.png");
  background-size: cover;
  margin-left: 50px;
}

#BG_1706763520514_50729 {
  font-size: 15px;
  display: grid;
  -webkit-grid-area: 1 / 1 / 1 / 1;
  grid-area: 1 / 1 / 1 / 1;
}

#BG_1706766856931_88705 {
  left: 645px;
}

#BG_1706768175145_27842 {
  display: grid;
  -webkit-grid-area: 1 / 1 / 1 / 1;
  grid-area: 1 / 1 / 1 / 1;
}

#BG_1706768382812_35077 {
  -webkit-grid-area: 1 / 2 / 1 / 2;
  grid-area: 1 / 2 / 1 / 2;
}

#BG_1706768414246_86166 {
  display: grid;
  -webkit-grid-template-columns: 445px 305px;
  grid-template-columns: 445px 305px;
  -webkit-grid-template-rows: 40px;
  grid-template-rows: 40px;
  padding-left: 50px;
  margin-top: -85px;
}

#BG_1706769950700_40172 {
  font-family: "Bahnschrift";
  font-size: 45px;
  padding-left: 50px;
}

#BG_1706769977691_80063 {
  font-family: "Bahnschrift";
  padding-left: 50px;
}

#BG_1706770021290_15933 {
  padding-left: 50px;
}

#BG_1706770514569_75642 {
  -webkit-grid-area: 1 / 2 / 1 / 2;
  grid-area: 1 / 2 / 1 / 2;
  background-color: rgba(51, 204, 255, 0.5);
  background-image: url("2691cb_644975a95a9e4ee1842d07aa8f3fc284~mv2.jpg");
  background-size: cover;
}

#BG_1706770535541_79682 {
  -webkit-grid-area: 2 / 1 / 2 / 1;
  grid-area: 2 / 1 / 2 / 1;
}

#BG_1706770564872_32392 {
  -webkit-grid-area: 2 / 2 / 2 / 2;
  grid-area: 2 / 2 / 2 / 2;
  background-color: rgba(51, 204, 255, 0.5);
  background-image: url("2691cb_2032bbd1c98d40cfbee6b3084fda2af4~mv2.png");
  background-size: cover;
  background-attachment: scroll;
}

#BG_1706770583778_45009 {
  display: grid;
  -webkit-grid-template-columns: 200px 600px;
  grid-template-columns: 200px 600px;
  -webkit-grid-row-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 25px;
  -webkit-grid-template-rows: 550px 550px;
  grid-template-rows: 550px 550px;
}

#BG_1706770810921_1569 {
  background-color: rgba(51, 204, 255, 0.25);
}

#BG_1706771490420_10336 {
  padding-left: 10px;
  font-family: "Bahnschrift";
  font-size: 20px;
}

#BG_1706771691228_8216 {
  font-size: 15px;
  padding-left: 5px;
}

#BG_1706771747902_83290 {
  font-family: "굴림체";
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}

#BG_1706771792316_74445 {
  font-size: 20px;
  padding-left: 2px;
}

#BG_1706772053645_97067 {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

#BG_1706773500908_254 {
  font-family: "Bahnschrift";
}

#BG_1706773910860_41699 {
  text-decoration: none;
}

#BG_1706766698435_3018 {
  left: 70px;
}

#BG_1706836233438_28792 {
  position: relative;
}

